This is the second file.

Has nothing to do with anything. Lets try some code thouh:

.singular_panel
{
width: 30%;
position: relative;
font-size: 10px;
line-height: 10px;
text-transform: uppercase;
margin-bottom: 60px;
}
.singular_panel_inner:before
{
content: ' ';
height:100%;
display: inline-block !important;
vertical-align: middle !important;
}

And more normal text
